In [7]:
import pandas as pd
import os

In [9]:
file = os.path.join("Global_Weather_Data.csv")
weather_df = pd.read_csv(file)
display(weather_df)

,City,Longitude,Latitude,Temperature,Wind Speed,Humidity,Cloudiness
0,Kutum,24.6667,14.2000,82.78,12.82,11,36
1,Lebu,-73.6500,-37.6167,52.18,8.01,68,73
2,Khatanga,102.5000,71.9667,37.85,9.82,78,99
3,Ilhabela,-45.3581,-23.7781,79.74,4.88,64,79
4,Port Elizabeth,25.5701,-33.9180,55.69,12.66,94,90
...,...,...,...,...,...,...,...
651,Piaçabuçu,-36.4344,-10.4056,76.37,7.67,78,67
652,Saldanha,17.9442,-33.0117,53.65,8.01,83,12
653,Maningrida,134.2667,-12.0667,68.22,8.16,91,66
654,Belmonte,-38.8828,-15.8631,79.30,4.85,81,100
655,La Macarena,-73.7849,2.1837,79.12,3.18,94,88

In [12]:
weather_html = weather_df.to_html()
weather_file = open("weather_data.html", "w")
weather_file.write(weather_html)
weather_file.close()